@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.Review

<h2>Edit</h2>

<h4>Edit this Review: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ReviewId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)
  @Html.LabelFor(model => model.Text)
  @Html.TextBoxFor(model => model.Text)


  @Html.LabelFor(model => model.Restaurant)
  @Html.DropDownList("RestaurantId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>